<div class="container">
  <div class=" grey row">
    LOREM IPSUM
    lorem lorem lorem
  </div>
  <div class="row">
    <svg version="1.1"
         baseProfile="full"
         width="300" height="200"
         xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="100%" fill="black"/>
      <circle cx="150" cy="100" r="90" fill="blue"/>
    </svg>
  </div>
</div>

