<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand brand-logo" routerLink="/home" >Dashboard-test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <!--<div class="navbar-nav">-->
      <!--<a class="nav-item nav-link" *ngIf="this.auth.isLoggedIn" [routerLinkActive]="['active']"-->
         <!--routerLink="/home" href="#">Home</a>-->
      <!--<a class="nav-item nav-link" *ngIf="this.auth.isLoggedIn" [routerLinkActive]="['active']"-->
         <!--routerLink="/todos" href="#">Todos</a>-->
    <!--</div>-->
    <!--<div class="navbar-nav">-->
      <!--<a class="nav-item nav-link" *ngIf="!this.auth.isLoggedIn"-->
         <!--routerLink="/login" href="#">Login</a>-->
      <!--<a class="nav-item nav-link" *ngIf="this.auth.isLoggedIn"(click)="this.auth.logout()" href="#">Logout</a>-->
    <!--</div>-->
  </div>
</nav>
