:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
}

:host img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
