<div mat-dialog-content>
  <div class="form-group">
    <label for="width">Image width</label>
    <input [(ngModel)]="cage.width" type="number" class="form-control" id="width" required  min="0">
  </div>

  <div class="form-group">
    <label for="height">Image width</label>
    <input [(ngModel)]="cage.height" type="number" class="form-control" id="height" required  min="0">
  </div>

  <div class="form-group">
    <label for="cage-style">Cage style</label>
    <select id="cage-style" [(ngModel)]="cage.style" >
      <option *ngFor="let item of cageStyles | enum" [value]="item.value">{{item.key}}</option>
    </select>
  </div>

  <hr>
  <div class="form-group">
    <label for="widget-height">Widget height</label>
    <input [(ngModel)]="height" type="number" class="form-control" id="widget-height" required min="1">
  </div>
  <div class="form-group">
    <label for="widget-width">Widget width</label>
    <input [(ngModel)]="width" type="number" class="form-control" id="widget-width" required min="1">
  </div>
</div>
<hr>
<div mat-dialog-actions>
  <button class="btn btn-warning" mat-button (click)="onNoClick()">Cancel</button>
  <button class="btn btn-success" mat-button [mat-dialog-close]="{data: this.getCage(), width: this.width, height: this.height}" cdkFocusInitial>Ok</button>
</div>
