<app-header></app-header>

<div class="container">
  <div [hidden]="!loading" class="loader">
    <h2>Loading...</h2>
  </div>
  <div [hidden]="loading" class="router-output">
    <router-outlet></router-outlet>
  </div>
</div>


