<div id="gridster-nav" class="row">
  <button class="btn btn-warning" (click)="addWidgetWithoutData()">Add empty widget</button>

  <button class="btn btn-warning" (click)="openDialog()">Add Cage</button>

  <div gridsterItemPrototype [config]="{helper: true}" [h]="2" [w]="2"
       (drop)="this.dashboardService.addWidgetByDrop($event, 'sample')">
    <button class="btn btn-warning">Drag widget</button>
  </div>

  <div *ngIf="editMode" class="dashboard-switch">
    <span class="switch-title">Floating</span>
    <label class="switch">
      <input [(ngModel)]="floating" (change)="toggleFloating()" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="dashboard-switch">
    <span class="switch-title">Edit mode</span>
    <label class="switch">
      <input [(ngModel)]="editMode" (change)="toggleEdit()" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</div>


<div class="gridster-container">
  <gridster [options]="gridsterOptions" [draggableOptions]="{ handlerClass: 'panel-heading' }">
    <gridster-item [ngClass]="{'shadow': editMode }" class="grid-widget"
                   *ngFor="let widget of this.dashboardService.getWidgets()"
                   [(x)]="widget.x" [(y)]="widget.y" [(w)]="widget.w" [(h)]="widget.h">
      <div [style.display]="editMode ? 'block' : 'none'" class="panel-heading">
        <mat-icon>control_camera</mat-icon>
      </div>
      <div class="panel-content">
        <app-dashboard-widget-content [type]="widget.type" [data]="widget.data"></app-dashboard-widget-content>
      </div>
    </gridster-item>
  </gridster>
</div>
