.gridster-container {
  margin-top: 2rem;
}

.grid-widget {
  background: white;
  border: 1px solid grey;
}

.panel-heading {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem !important;
  background: lightgrey;
  cursor: move;
  z-index: 3;
}

.panel-content {
  overflow: auto;
  padding: 0 10px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-widget.shadow {
  box-shadow: 0.3rem 0.6rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
}

:host ::ng-deep .position-highlight {
  background: rgba(80, 28, 24, 0.44);
}

#gridster-nav {
  display: flex;
  justify-content: space-around;
}

/* SCROLLBAR - BEGIN */

.panel-content::-webkit-scrollbar {
  width: 1em;
}

.panel-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.panel-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* SCROLLBAR - END */

/*    !!!!SLIDER - BEGIN    */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-switch {
  float: right;
  display: flex;
  text-align: center;
}

.switch-title {
  display: inline-block;
  padding: 0.375rem 0.75rem;
}

/*    SLIDER - END!!!   */
